.center-image {
  text-align: center;
  transition: transform 0.7s;
}

.center-image img {
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
}

.center-image:hover {
  transform: scale(1.03);
}

.video-container {
  padding: 20px;
  background-image: url(../Assets/Images/Dedsec-Noise.gif);
  background-size: 100% 100%;
}
