.center-image {
  text-align: center;
  transition: transform 0.7s;
}

.center-image img {
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
}

.center-image:hover {
  transform: scale(1.03);
}

.video-container {
  padding: 20px;
  background-image: url(../Assets/Images/Dedsec-Noise.gif);
  background-size: 100% 100%;
  display: flex;
  text-align: center;
}

.video-buttons-small-screen {
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.circle-button {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  margin: auto;
  z-index: 50;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-family: highpixel;
  font-weight: bold;
  cursor: pointer;
}

.wide-screen-button {
  display: none;
  margin-left: 10px;
}

.small-screen-button {
  margin: 20px 10px 10px 10px;
  display: inline-block;
}

.circle-button p {
  margin: 0px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media screen and (min-width: 880px) {
  .wide-screen-button {
    display: inline-block;
  }

  .small-screen-button {
    display: none;
  }
}
