:root {
  --black: #000000;
  --lightblack: #141414;
  --lightgreen: #a4d106;
  --purple: #8632c7;
  --lilac: #d8b5ff;
  --arduinoblue: #19999F;
}

/** Custom fonts **/
@font-face {
  font-family: pineapple;
  src: url('../Assets/Fonts/pineapple/PineappleDemo.ttf');
}

@font-face {
  font-family: eightbit;
  src: url('../Assets/Fonts/eight_bit/eight_bit.ttf');
}

@font-face {
  font-family: pixel;
  src: url('../Assets/Fonts/pixel/pixel.ttf');
}

@font-face {
  font-family: hacked;
  src: url('../Assets/Fonts/hacked/HACKED.ttf');
}

@font-face {
  font-family: highpixel;
  src: url('../Assets/Fonts/high-pixel-7/high_pixel-7.ttf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  margin: auto;
  font-family: highpixel;
  font-size: 18px;
  color: white;
  background-color: var(--lightblack);
}

h1 {
  font-family: eightbit;
  font-size: 25px;
  text-align: center;
}

h2, .header2 {
  font-family: pixel;
  font-size: 20px;
  font-weight: bolder;
}

h3 {
  font-size: 18px;
}

a {
  color: var(--lightgreen);
}

a:hover {
  color: #78960e;
}

a:active {
  color: red;
}

video {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 700px;
  max-height: 600px;
  border-radius: 30px;
}

ul {
  /* Custom bullet points */
  list-style-image: url("../Assets/Images/Eyeball.png");
}

.hint {
  color: var(--purple);
}

/* Text drop down restyle */
details>summary.header2 {
  list-style: none;
}

summary::-webkit-details-marker.header2 {
  display: none
}

summary.header2::after {
  content: ' ►';
}

details[open] summary.header2:after {
  content: " ▼";
}

summary:hover {
  cursor: pointer;
}

.content {
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 110px;
  overflow: visible;
}

/** Reposition anchor tags above linked content **/
a.anchor {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, white, var(--lightgreen));
  border-radius: 10px;
}

/* WebKit and Blink browsers text selection */
::selection {
  background: var(--lightgreen);
  color: black;
}

/* Gecko Browsers text selection */
::-moz-selection {
  background: var(--lightgreen);
  color: black;
}

@media screen and (max-width: 720px) {
  .content {
    margin-top: 240px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .content {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 840px) {
  .content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 840px) {
  .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
