#profilepic {
  max-width: 50px;
  max-height: 50px;
  float: left;
	border-radius: 50%;
}

#username {
  font-size: 25px;
}

.header {
  font-family: hacked;
  overflow: visible;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background: var(--black);
  transition: 0.3s;
}

.header:hover {
  padding-top: 8px;
  padding-bottom: 8px;
}

.header a {
  float: left;
  color: white;
  padding: 10px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
}

#header-left a {
  font-size: 22px;
}

#header-center a {
  font-size: 25px;
}

.type-dash {
  animation: typing 1s linear infinite;
}

.navtext:hover {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.7;
  }
}

@keyframes typing {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

#header-left {
  float: left;
  font-family: pineapple;
}

.header-right {
  float: right;
}

.nav-dropdown {
  display: inline;
  float: left;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  margin-top: 70px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: black;
  overflow-wrap: break-word;
}

.nav-dropdown-anchor {
  font-size: 12px;
  float: none;
  color: white;
  text-align: center;
  display: inline-block;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -35px;
  margin-bottom: -35px;
  line-height: 1.2;
  max-width: 120px;
}

.nav-dropdown-content p {
  float: left;
  word-break: break-all;
}

.nav-dropdown-anchor:hover {
  text-decoration: underline;
  animation: blinker 1.2s linear infinite;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  #header-left, #header-center, .header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #header-left a, #header-center a {
    font-size: 26px;
    font-size: min(5vw, 30px);
  }

  .header-right a {
    font-size: 3vw;
  }

  .nav-dropdown-content a {
    font-size: min(2.6vw, 14px);
  }
}

@media screen and (min-width: 750px) and (max-width: 1110px) {
  #header-center {
    display: none;
}
