div.column img {
  width: 100%;
  height: auto;
  border-radius: 20px 0px;
  margin-bottom: 10px;
}

div.part-desc {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 10px;
  background-color: white;
  color: black;
  border-radius: 20px 0px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
