.software-logo {
  float: left;
  height: 60px;
  padding-right: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.software-div:hover {
  transform: scale(1.03);
}

.software-div {
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 0.5s;
  display: inline-block;
  float: left;
  width: 50%;
}

.software-div ul {
  list-style-image: none;
  padding-right: 30px;
  margin-left: -10px;
}

.software-div p, .software-div li  {
  font-family: highpixel;
  font-size: 18px;
}

.software-div a {
  font-family: pixel;
  font-size: 13px;
  font-weight: bolder;
}

.software-text:hover {
  text-decoration: underline;
}

.software-text {
  color: black;
  background-color: white;
  border-radius: 10px 0px;
  padding: 5px 15px 5px 15px;
  margin-right: 18px;
  text-decoration: none;
  color: black;
}

.arduino:hover, .arduino2:hover, .android:hover, .android2:hover {
  color: white;
}

.arduino:hover {
  background-color: var(--arduinoblue);
}

.arduino2:hover {
  background-color: var(--arduinoblue2);
}

.android:hover {
  background-color: var(--androidgreen);
}

.android2:hover {
  background-color: var(--androidgreen2);
}

div.column img {
  width: 100%;
  height: auto;
  border-radius: 20px 0px;
  margin-bottom: 10px;
}

div.part-desc {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-family: pixel;
  font-size: 10px;
  background-color: white;
  color: black;
  border-radius: 20px 0px;
}

.part-name {
  font-weight: bolder;
}

.part-list {
  text-align: left;
  margin-left: 10px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .software-div {
    float: none;
    width: 100%;
  }

  .software-div ul {
    padding-right: 0px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
